[submodule "projects/money-streaming-intro-foundry/lib/solmate"]
	path = projects/money-streaming-intro-foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "G:/code/clone/super-examples/projects/money-streaming-intro-foundry/lib\\solmate"]
	branch = v7
