[submodule "projects/money-streaming-intro-foundrys/lib/forge-std"]
	path = projects/money-streaming-intro-foundrys/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/money-streaming-intro-foundry/lib/forge-std"]
	path = projects/money-streaming-intro-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
