# OSX
.DS_Store

# env
.env

# node
node_modules
package-lock.json
yarn.lock
yarn-error.log

# editooors
.idea
.vscode

# tsc / hardhat / foundry
artifacts
deployments
out
data
build
dist
typechain
coverage
coverage.json
